<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        
        <th scope="col">Email</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    
    <tbody *ngIf ="users">
      <tr *ngFor ="let u of users">
        <th scope="row">{{u.Id}}</th>
    
        <td>{{u.Email}}</td>
        <td>{{u.FirstName}}</td>
        <td>{{u.LastName}}</td>
        
      </tr>
      
    </tbody>
  </table>